<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<!-- 交易商状态 -->
	<util:map id="com_firmStatusMap" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
		<entry key="N" value="可用"></entry>
		<entry key="D" value="冻结"></entry>
		<entry key="E" value="注销"></entry>
	</util:map>

	<!-- 交易商类型 -->
	<util:map id="com_firmTypeMap" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
		<entry key="1" value="企业"></entry>
		<entry key="3" value="个人"></entry>
	</util:map>

</beans>