<?xml version='1.0' encoding='GBK'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.OracleDialect
		</property>
		<property name="show_sql">false</property>
		<property name="hbm2ddl.auto">none</property>
		<property name="format_sql">false</property>
		<property name="hibernate.cache.use_structured_entries">
			true
		</property>
		<!--  最优化二级缓存-->
		<property name="hibernate.cache.use_second_level_cache">
			true
		</property>
		<!--
			完全禁用二级缓存开关，对那些在类的映射定义中指定cache的类，默认开启二级缓存
		-->
		<property name="hibernate.cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.provider_configuration_file_resource_path">
			/ehcache.xml
		</property>

		<!-- 
			公共 model 类部分 ，本部分配置为公用配置，各个项目都需要加载
		-->
		<mapping resource="gnnt/MEBS/common/front/model/Apply.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/Audit.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/LogCatalog.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/OperateLog.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/OperateLogHis.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/TradeModule.hbm.xml" />

		<mapping resource="gnnt/MEBS/common/front/model/front/Menu.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/front/MyMenu.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/front/Right.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/front/Role.hbm.xml" />

		<mapping resource="gnnt/MEBS/common/front/model/integrated/ErrorLoginLog.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/integrated/MFirm.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/integrated/MFirmModule.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/integrated/MSystemProps.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/integrated/TraderModule.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/integrated/User.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/integrated/MFirmApply.hbm.xml" />
		<mapping resource="gnnt/MEBS/common/front/model/integrated/CertificateType.hbm.xml" />
		
		<!-- 客户总账 -->
		<mapping resource="gnnt/MEBS/finance/front/model/LedgerField.hbm.xml" />
		<!-- 系统模块 -->
		<mapping resource="gnnt/MEBS/finance/front/model/SystemModule.hbm.xml" />
		<mapping resource="gnnt/MEBS/finance/front/model/SummaryF.hbm.xml" />

		<mapping resource="gnnt/MEBS/finance/front/model/FundFlowF.hbm.xml" />
		<mapping resource="gnnt/MEBS/finance/front/model/FirmCurFunds.hbm.xml" />
		<mapping resource="gnnt/MEBS/finance/front/model/FundFlowHisF.hbm.xml" />
		<mapping resource="gnnt/MEBS/finance/front/model/ClientLedger.hbm.xml" />
		<mapping resource="gnnt/MEBS/finance/front/model/FirmBalance.hbm.xml" />


	</session-factory>
</hibernate-configuration>