@CHARSET "UTF-8";

.quotation {border: 1px solid #cccccc;
	padding: 5px;
	min-height: 100px; /*高度最小值设置为：100px*/
	height: auto !important; /*兼容FF,IE7也支持 !important标签*/
	height: 500px;
} /*兼容ie6*/