<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>
   
    <bean id="manager" class="gnnt.MEBS.timebargain.tradeweb.service.impl.BaseManager" >
        <property name="DAO"><ref bean="dao"/></property>
    </bean>
  
    <bean id="ordersManager" class="gnnt.MEBS.timebargain.tradeweb.service.impl.OrdersManagerImpl" autowire="byName">
    </bean>   
</beans>











