@CHARSET "UTF-8";

#Document #__bookmark_1 {
	line-height:20px;
	font-size:12px;
	margin: 0; 
	border: 1px solid #d9d9d9;
}

#Document #__bookmark_1  th{
	background-color:#FEE89F;
	border: 1px solid #DDDDDD;
}
#Document #__bookmark_1   TR{
	background-color:expression((this.sectionRowIndex%2!=0)?"rgb(255,248,237)":"rgb(255,255,255)");
	/**f4f4f4蓝色 rgb(244,244,244)
	fff8ded砖红色 rgb(255,248,237)
	*/
}

#Document #__bookmark_1  TR TD{
	/**
	background-color:expression((this.cellIndex%2==0)?"":((this.parentElement.sectionRowIndex%2==0)?"green":"yellow"));
	*/
	text-align:center;
	border: 1px solid #DDDDDD;
	padding: 1px; 
	float: left;
}
/**
----------------------------------图表背景颜色--------------------------------------
*/
#Document IMG {
	background-color: rgb(255,248,237);
	font-size: 12px;
	font-family: 宋体;
}