@charset "gb2312";
body {
	margin: 0px;
}
#main_body {
	background-color: #fff6f4;
	height: auto;
	width: 98%;
	border: 1px solid #fff6f4;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
}
.table1_style {
	width: 100%;
	padding-left: 15px;
}
.div_cxtjcd {
	height: 20px;
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #880000;
	padding-top: 4px;
	padding-left: 15px;
}
.div_cxtjd {
	background-image: url(cssimg/12d.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 4px;
	padding-left: 15px;
}
.div_cxtj {
	background-image: url(cssimg/12.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 100%;
	font-size: 13px;
	line-height: 20px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 4px;
	padding-left: 15px;
}
.div_tj {
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin-bottom: 10px;
}
.table2_style {
   border: 1px solid #bfbfbf;
   width: 100%;
}
.div2_top {
	height: auto;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.table3_style {
   width: 100%;
}
.table3_td {
	font-size: 12px;
	line-height: 40px;
	color: #000000;
	width: 15%;
	height: 40px; 
	float:right;
}
.table3_td2 {
	width: 18%;
	height: 40px; 
	float: left;
}
.anniu_1 {
	font-size: 14px;
	line-height: 29px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(cssimg/17.gif);
	background-repeat: no-repeat;
	text-align: center;
	height: 29px;
	width: 73px;
	float: right;
	margin-right: 0px;
}
.anniu_1 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.anniu_1 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.anniu_1 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.anniu_1 a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.anniu_2 {
	font-size: 14px;
	line-height: 29px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(cssimg/18.gif);
	background-repeat: no-repeat;
	text-align: center;
	height: 29px;
	width: 73px;
	float: left;
	margin-left: 20px;
}
.anniu_2 a:link {
	color: #FFFFFF;
	text-decoration: none;
}
.anniu_2 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.anniu_2 a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.anniu_2 a:active {
	color: #FFFFFF;
	text-decoration: none;
}
.div_gn {
	height: 27px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 10px;
}
.anniu_3 {
	font-size: 14px;
	line-height: 27px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(cssimg/14.gif);
	background-repeat: no-repeat;
	height: 27px;
	width: 124px;
	margin-right: 10px;
	padding-left: 34px;
	text-align: center;
	float: left;
}
.anniu_3 a:link {
	color: #7d0c01;
	text-decoration: none;
}
.anniu_3 a:visited {
	color: #7d0c01;
	text-decoration: none;
}
.anniu_3 a:hover {
	color: #7d0c01;
	text-decoration: none;
}
.anniu_3 a:active {
	color: #7d0c01;
	text-decoration: none;
}
.input_textmin {
	background-color: #FFFFFF;
	height: 20px;
	width: 100px;
	border: 1px solid #7f9db9;
}
.input_text {
	background-color: #FFFFFF;
	height: 20px;
	width: 120px;
	border: 1px solid #7f9db9;
}
.input_textmax {
	background-color: #FFFFFF;
	height: 20px;
	width: 280px;
	border: 1px solid #7f9db9;
}
.div_list {
	height: auto;
	width: 100%;
	/*border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #d9d9d9;*/
}
.tab_padmax {
	padding-top:60px;
}
.tab_paddmax {
	padding-top:80px;
}
.tab_pad {
	position:absolute;
	bottom:10;
	z-index:2;
	center:0;
}
.tab_padmin {
	padding-top:40px;
}
.div_scromax {
	overflow:auto;
	height:500px;
}
.div_scromid {
	overflow:auto;
	height:450px;
}
.div_scro {
	overflow:auto;
	height:400px;
}
.div_scromin {
	overflow:auto;
	height:300px;
}
.anniu_btn { 
    background:url(cssimg/btn.gif) repeat-x; 
    width:60px; 
    height:25px; 
    line-height:20px; 
    text-align:center; 
    font-size:13px; 
    font-weight:bold; 
    color:#7d0c01; 
    border:none;
}
.anniu_btnmax { 
    background:url(cssimg/btn.gif) repeat-x; 
    width:100px; 
    height:25px; 
    line-height:20px; 
    text-align:center; 
    font-size:13px; 
    font-weight:bold; 
    color:#7d0c01; 
    border:none;
}
.btn_sec { 
	background:url(cssimg/sec.gif) repeat-x; 
	width:60px; 
	height:25px; 
	line-height:20px; 
	text-align:center; 
	font-size:13px; 
	font-weight:bold; 
	color:#fff; 
	border:none;
}
.btn_secmid { 
	background:url(cssimg/sec.gif) repeat-x; 
	width:90px; 
	height:25px; 
	line-height:20px; 
	text-align:center; 
	font-size:13px; 
	font-weight:bold; 
	color:#fff; 
	border:none;
}
.btn_secmax { 
	background:url(cssimg/sec.gif) repeat-x; 
	width:120px; 
	height:25px; 
	line-height:20px; 
	text-align:center; 
	font-size:13px; 
	font-weight:bold; 
	color:#fff; 
	border:none;
}
.btn_min { 
	background:url(cssimg/sec.gif) repeat-x; 
	width:25px; 
	height:25px; 
	line-height:20px; 
	text-align:center; 
	font-size:13px; 
	font-weight:bold; 
	color:#fff; 
	border:none;
}
.btn_cz { 
	background:url(cssimg/cz.gif) repeat-x; 
	width:60px; 
	height:25px; 
	line-height:20px; 
	text-align:center; 
	font-size:13px; 
	font-weight:bold; 
	color:#fff; 
	border:none;
}
.btn_down {
	height: 40px;
	width: 98%;
	float: left;
	margin-right: auto;
	margin-left: auto;
}

.panel_tHead_LB
{
	background-image: url(images1/panel_LeftTop.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	width: 6px;
	height: 25px;
	text-indent: 0px;
}
.panel_tHead_MB
{
	background-image: url(images1/panel_MiddleTop.gif);
	background-repeat: repeat-x;
	color: #ffffff;
	font-size: 9pt;
	font-family: simsun;
	vertical-align: middle;
	border-right:1px #ffffff solid;
	line-height:25px;
	height: 20px;
}
.panel_tHead_MB_last
{
	background-image: url(images1/panel_MiddleTop.gif);
	background-repeat: repeat-x;
	color: #ffffff;
	font-size: 9pt;
	font-family: simsun;
	vertical-align: middle;
	line-height:25px;
	height: 20px;
}

.panel_tHead_RB
{
	background-image: url(images1/panel_RightTop.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 6px;
	height: 25px;
	text-indent: 0px;
}

.panel_tBody_LB
{
	background-image: url(images1/panel_LeftBorder.gif);
	background-repeat: repeat-y;
	background-position: center right;
	background-position-y:24;
	text-indent: 0px;
	width: 6px;
}
.panel_tBody_RB
{
	background-image: url(images1/panel_RightBorder.gif);
	background-repeat: repeat-y;
	background-position: center left;
	text-indent: 0px;
	width: 6px;
}
.panel_tFoot_LB
{
	background-image: url(images1/panel_LeftBottom.gif);
	background-position: top right;
	background-repeat: no-repeat;
	text-indent: 0px;
	width: 6px;
	height: 6px;
}

.panel_tFoot_MB
{
	background-image: url(images1/panel_MiddleBottom.gif);
	background-repeat: repeat-x;
	height: 6px;
	text-indent: 0px;
}

.panel_tFoot_RB
{
	background-image: url(images1/panel_RightBottom.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 0px;
	width: 6px;
	height: 6px;
}

.underLine
{
	border-bottom: 1px solid #bfbfbf;
	padding-top: 3px;
}

.underLineCurr
{
	border-bottom: 1px solid #bfbfbf;
	padding-top: 3px;
	width: 100px;
	text-align: right;
}

.underLineCurr2
{
	border-bottom: 1px solid #bfbfbf;
	padding-top: 3px;
	text-align: right;
}

.afterOption
{
	padding-left: 6px;
	padding-top: 3px;
}

.afterOptionNUnderLine
{
	padding-left: 6px;
	padding-top: 3px;
	border-bottom: 1px solid #bfbfbf;
}

.intro_Left
{
	text-align: right;
	word-break: keep-all;
	background-color: #E8E8E8;
	border-bottom: 1px solid #bfbfbf;
	padding-right: 6px;
}

.intro_Right
{
	text-align: left;
	word-break: keep-all;
	border-bottom: 1px solid #bfbfbf;
	padding-left: 4px;
}
.table_top {
	background-image: url(cssimg/16.gif);
	background-repeat: repeat-x;
	height: 23px;
	width: 100%;
}
.right_05bj_td {
	font-size: 12px;
	line-height: 23px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	border-right-width: 1px;
	border-right-color: #d9d9d9;
	border-right-style: solid;
}
.right_05_tdbj {
	font-size: 12px;
	line-height: 23px;
	color: #000000;
	text-align: center;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d9d9d9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D9D9D9;
}
.right_05_tdbj1 {
	background-image: url(cssimg/19.gif);
	background-position: right;
	background-repeat: no-repeat;
	font-size: 12px;
	line-height: 25px;
	color: #000000;
}




table.tablesorter .headerSortUp {
	background-image: url(cssimg/desc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(cssimg/asc.png);
	background-repeat: no-repeat;
}

table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}

.gg_td {
	font-size: 12px;
	line-height: 40px;
	color: #000000;
	width: 25%;
	height: 40px; 
	float:right;
}
.gg_td2 {
	width: 75%;
	height: 40px; 
	float: left;
}
.blank_a:link {
    color:#880000;
    text-decoration:none;
  }
.blank_a:visited {
    color:#880000;
    text-decoration:none;
}
.blank_a:hover {
    color:#000000;
    text-decoration:none;
    }
.blank_a:active {
    color:#880000;
    text-decoration:none;
  }