input.readonly_1
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #B0B0B0;
	font-family: SimSun;
	font-size: 9pt;
	
	background-color: transparent;
	vertical-align: bottom;
	text-align: center;
	width: 150px;
}

input.readonly_new
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #B0B0B0;
	font-family: SimSun;
	font-size: 9pt;

	background-color: transparent;
	vertical-align: bottom;
	width: 150px;
}
body
{
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #F5F5F5;
}

body.topframe
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
}

body.leftframe
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
}

body.dialog
{
	margin-left: 5px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 5px;	
}

table.dropShadow
{
	border: 1px solid #D4D4DE;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color='#EEEEEE',offx=2,offy=2,positive='true');
	background-color: white;
}

table.borderFull
{
	border: 1px solid #D4D4DE;
	background-color: white;
}

tr.hilite
{
	background : #DDEBEB;
}

td
{
	font-size: 9pt;
	font-family: simsun;
	text-indent: 4px;
	color: #222222;
}

td.underLine
{
	border-bottom: 1px solid #929DB4;
	border-right: 1px solid #929DB4;
	padding-top: 3px;
}

td.underLine_last
{
	border-bottom: 1px solid #929DB4;
	padding-top: 3px;
}
td.underLineCurr
{
	border-bottom: 1px solid #DDEBEB;
	padding-top: 3px;
	text-align: right;
}

td.underLineCurr2
{
	border-bottom: 1px solid #DDEBEB;
	padding-top: 3px;
	text-align: right;
}

td.afterOption
{
	padding-left: 6px;
	padding-top: 3px;
}

td.afterOptionNUnderLine
{
	padding-left: 6px;
	padding-top: 3px;
	border-bottom: 1px solid #DDEBEB;
}

td.intro_Left
{
	text-align: right;
	word-break: keep-all;
	background-color: #E8E8E8;
	border-bottom: 1px solid #DDEBEB;
	padding-right: 6px;
}

td.intro_Right
{
	text-align: left;
	word-break: keep-all;
	border-bottom: 1px solid #DDEBEB;
	padding-left: 4px;
}

td.panel_tHead_LB
{
	background-image: url(../images/panel_LeftTop.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
	width: 6px;
	height: 25px;
	text-indent: 0px;
}

td.panel_tHead_MB_first
{
	background-image: url(../images/panel_MiddleTop.gif);
	background-repeat: repeat-x;
	border-left: 1px solid #929DB4;
	border-right: 1px solid #929DB4;
	color: #333333;
	font-size: 9pt;
	font-family: simsun;
	vertical-align: middle;
	height: 25px;
}

td.panel_tHead_MB
{
	background-image: url(../images/panel_MiddleTop.gif);
	background-repeat: repeat-x;
	border-right: 1px solid #929DB4;
	color: #333333;
	font-size: 9pt;
	font-family: simsun;
	vertical-align: middle;
	height: 25px;
}

td.panel_tHead_MB_last
{
	background-image: url(../images/panel_MiddleTop.gif);
	background-repeat: repeat-x;
	color: #333333;
	font-size: 9pt;
	font-family: simsun;
	vertical-align: middle;
	height: 25px;
}

td.panel_tHead_MB_2
{
	background-image: url(../images/panel_MiddleTop.gif);
	background-repeat: repeat-x;
	color: #333333;
	font-size: 9pt;
	font-family: simsun;
	font-weight: bold;
	vertical-align: middle;
	height: 25px;
	padding-top: 3px;
}

td.panel_tHead_MB_Curr
{
	background-image: url(../images/panel_MiddleTop.gif);
	background-repeat: repeat-x;
	color: #333333;
	font-size: 9pt;
	font-family: simsun;
	vertical-align: middle;
	height: 25px;
	text-align: right;
}

td.panel_tHead_MB_Curr2
{
	background-image: url(../images/panel_MiddleTop.gif);
	background-repeat: repeat-x;
	color: #333333;
	font-size: 9pt;
	font-family: simsun;
	vertical-align: middle;
	height: 25px;
	text-align: right;
}

td.panel_tHead_Title
{
	height: 25px;
	background-color: #E8E8E8;
	border-top: 1px solid #DDEBEB;
	border-bottom: 1px solid #DDEBEB;
	vertical-align: middle;
	padding-top: 3px;
}

td.panel_tHead_RB
{
	background-image: url(../images/panel_RightTop.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
	width: 6px;
	height: 25px;
	text-indent: 0px;
}

td.panel_tBody_LB
{
	background-image: url(../images/panel_LeftBorder.gif);
	background-repeat: repeat-y;
	background-position: center right;
	background-position-y:24;
	text-indent: 0px;
	width: 6px;
}

td.panel_tBody_RB
{
	background-image: url(../images/panel_RightBorder.gif);
	background-repeat: repeat-y;
	background-position: center left;
	text-indent: 0px;
	width: 6px;
}

td.panel_tFoot_LB
{
	background-image: url(../images/panel_LeftBottom.gif);
	background-position: top right;
	background-repeat: no-repeat;
	text-indent: 0px;
	width: 6px;
	height: 6px;
}

td.panel_tFoot_MB
{
	background-image: url(../images/panel_MiddleBottom.gif);
	background-repeat: repeat-x;
	height: 6px;
	text-indent: 0px;
}

td.panel_tFoot_RB
{
	background-image: url(../images/panel_RightBottom.gif);
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: 0px;
	width: 6px;
	height: 6px;
}

td.pager
{
	height: 22px;
	background-color: #E8E8E8;
	border-left: 1px solid #DDEBEB;
	border-right: 1px solid #DDEBEB;
	border-top: 1px solid #DDEBEB;
	border-bottom: 1px solid #DDEBEB;
}

td.director
{
	color: #666666;
	font-family: "Webdings";
	font-size: 9pt;
	cursor: hand;
	text-align: right;
	vertical-align: bottom;
}

td.beforeInput
{
	text-align: right;
	padding-right: 6px;
	word-break: keep-all;
}

td.input
{
	text-align: left;
}

td.inputNunderline
{
	text-align: left;
	border-bottom: 1px solid #DDEBEB;
}

td.reportTitle
{
	text-align:center;
	font-family:"Á¥Êé";
	font-size:24px;
	font-weight:bold;
}

td.print
{
	font-size: 11pt;
	font-family: simsun;
	color: #222222;
}

fieldset
{
	border: 3px double #BFBFBF;
	font-family: simsun;
	font-size: 9pt;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

legend
{
	color: #333333;
	font-size: 10pt;
	font-weight: bold;
}

div.div_drwPanel
{
	width: 133px;
	height: 26px;
	overflow: hidden;
	background-image: url(../images/drawer_Panel.gif);
	background-position: bottom center;
	background-repeat: no-repeat;
	filter:Alpha(opacity=100);
}

div.div_drwContent
{
	width: 133px;
	height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

span.drwPanel
{
	width: 100%;
	height: 100%;
	color: #000000;
	font-size: 10pt;
	padding-top: 7px;
	filter: dropshadow(color='#EEEEEE',offx=1,offy=1);
	cursor: hand;
}

span.drwItem
{
	width: 130px;
	height: 50px;
	padding-top: 6px;
	padding-bottom: 4px;
	text-align: center;
	font-size: 9pt;
	font-family: simsun;
	color: #000000;
	cursor: hand;
}

SPAN.smlbtn
{
	width: 50px;
	height: 18px;
	color: #333333;
	font-size: 9pt;
	padding-top: 1px;
	border-right: 1px solid #d9d9d9;
	filter: dropshadow(color='#FFFFFF',offx=1,offy=1);
}

SPAN.smlbtn_last
{
	width: 50px;
	height: 18px;
	color: #333333;
	font-size: 9pt;
	padding-top: 1px;
	filter: dropshadow(color='#FFFFFF',offx=1,offy=1);
}

SPAN.mdlbtn
{
	width: 70px;
	height: 18px;
	color: #333333;
	font-size: 9pt;
	padding-top: 1px;
	filter: dropshadow(color='#FFFFFF',offx=1,offy=1);
}

SPAN.lgrbtn
{
	width: 95px;
	height: 18px;
	color: #333333;
	font-size: 9pt;
	padding-top: 1px;
	filter: dropshadow(color='#FFFFFF',offx=1,offy=1);
}

SPAN.readonly
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #B0B0B0;
	font-family: SimSun;
	font-size: 9pt;
	color: #B0B0B0;
	background-color: transparent;
	vertical-align: bottom;
	width: 150px;
}
span.span_table_title 
{
	height: 20px;
	text-align: left;
	color: #333333;
	font-weight: bold;
	font-family: simsun;
	font-size: 10pt;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color='white',offx=1,offy=1,positive='true');
	overflow-x: visible;
	overflow-y: hidden;
	padding-left: 10px;
	padding-bottom:2px;
	vertical-align: bottom;
}
input.page
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #333333;
	font-family: Verdana;
	font-size: 8pt;
	background-color: transparent;
}

input.text
{
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #999999;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #999999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	font-family: SimSun;
	font-size: 9pt;
	color: #33333
	background-color: transparent;
	width: 150px;
}

input.normal
{
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #999999;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #999999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	font-family: SimSun;
	font-size: 9pt;
	color: #33333
	background-color: transparent;
	width: 150px;
}

input.readonly
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #B0B0B0;
	font-family: SimSun;
	font-size: 9pt;
	color: #B0B0B0;
	background-color: transparent;
	vertical-align: bottom;
	width: 150px;
}

input.date
{
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	font-family: Arial;
	font-size: 9pt;
	font-weight: bold;
	color: #333333;
	background-color: transparent;
	vertical-align: bottom;
	width: 150px;
}

input.radiobox
{
	border-width: 0px;	
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: SimSun;
	font-size: 9pt;
	color: #333333;
	background-color: transparent;
	width: 1px;
}

input.checkbox
{
	border-width: 0px;	
	border-left-style: none;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
	font-family: SimSun;
	font-size: 9pt;
	color: #333333;
	background-color: transparent;
}

select.normal
{
	font-family: SimSun;
	font-size: 9pt;
	background-color: transparent;
	width: 150px;
}

textarea.normal
{
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #999999;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #999999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	font-family: SimSun;
	font-size: 9pt;
	color: #333333;
	background-color: transparent;
	width: 260px;
}

textarea.readonly
{
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #B0B0B0;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #B0B0B0;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #B0B0B0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #B0B0B0;
	font-family: SimSun;
	font-size: 9pt;
	color: #B0B0B0;
	background-color: transparent;
	width: 150px;
}

select.normal
{
	font-family: SimSun;
	font-size: 9pt;
	background-color: transparent;
	width: 152px;
}

button.smlbtn
{
	background-image: url(../images/btn_sml.gif); 
	background-repeat: no-repeat;
	background-position: middle center;
	background-color: transparent; 
	border-left: medium none; 
	border-right: medium none; 
	border-top: medium none; 
	border-bottom: medium none; 
	padding-top: 3px;
	font-size: 9pt; 
	font-family: simsun; 
	width: 55px;
	height: 20px; 
	overflow: hidden; 
	cursor: hand; 
	color: #333333; 
	text-align: center;
}

button.mdlbtn
{
	background-image: url(../images/btn_mdl.gif); 
	background-repeat: no-repeat;
	background-position: middle center;
	background-color: transparent; 
	border-left: medium none; 
	border-right: medium none; 
	border-top: medium none; 
	border-bottom: medium none; 
	padding-top: 3px;
	font-size: 9pt; 
	font-family: simsun; 
	width: 75px;
	height: 20px; 
	overflow: hidden; 
	cursor: hand; 
	color: #333333; 
	text-align: center;
}

button.lgrbtn
{
	background-image: url(../images/btn_lgr.gif); 
	background-repeat: no-repeat;
	background-position: middle center;
	background-color: transparent; 
	border-left: medium none; 
	border-right: medium none; 
	border-top: medium none; 
	border-bottom: medium none; 
	padding-top: 3px;
	font-size: 9pt; 
	font-family: simsun; 
	width: 100px;
	height: 20px; 
	overflow: hidden; 
	cursor: hand; 
	color: #333333; 
	text-align: center;
}

button.smlbtn_readonly
{
	background-image: url(../images/btn_sml.gif); 
	background-repeat: no-repeat;
	background-position: middle center;
	background-color: transparent; 
	border-left: medium none; 
	border-right: medium none; 
	border-top: medium none; 
	border-bottom: medium none; 
	padding-top: 3px;
	font-size: 9pt; 
	font-family: simsun; 
	width: 55px;
	height: 20px; 
	overflow: hidden; 
	cursor: hand; 
	color: #B0B0B0; 
	text-align: center;
}

button.mdlbtn_readonly
{
	background-image: url(../images/btn_mdl.gif); 
	background-repeat: no-repeat;
	background-position: middle center;
	background-color: transparent; 
	border-left: medium none; 
	border-right: medium none; 
	border-top: medium none; 
	border-bottom: medium none; 
	padding-top: 3px;
	font-size: 9pt; 
	font-family: simsun; 
	width: 75px;
	height: 20px; 
	overflow: hidden; 
	cursor: hand; 
	color: #B0B0B0; 
	text-align: center;
}

button.lgrbtn_readonly
{
	background-image: url(../images/btn_lgr.gif); 
	background-repeat: no-repeat;
	background-position: middle center;
	background-color: transparent; 
	border-left: medium none; 
	border-right: medium none; 
	border-top: medium none; 
	border-bottom: medium none; 
	padding-top: 3px;
	font-size: 9pt; 
	font-family: simsun; 
	width: 100px;
	height: 20px; 
	overflow: hidden; 
	cursor: hand; 
	color: #B0B0B0; 
	text-align: center;
}

.p9
{
	font-family: simsun;
	font-size: 9pt;
	color: #333333;
	padding: 3;
}

.p9_bold
{
	font-family: simsun;
	font-size: 9pt;
	font-weight: bold;
	color: #333333;
	padding: 3;
}

.p9_print
{
	font-family: "ºÚÌå";
	font-size: 9pt;
	font-weight: bold;
	color: #333333;
	padding: 3;
}

.p10
{
	font-family: simsun;
	font-size: 10pt;
	color: #333333;
	padding: 3;
}

.p10_bold
{
	font-family: simsun;
	font-size: 10pt;
	font-weight: bold;
	color: #333333;
	padding: 3;
}

.p11
{
	font-family: simsun;
	font-size: 11pt;
	color: #333333;
	padding: 3;
}

.p11_bold
{
	font-family: "ºÚÌå";
	font-size: 11pt;
	font-weight: bold;
	color: #333333;
	padding: 3;
}

.labelCtrl_styleNormal 
{
	background-image:url(../images/label_normal.gif);
	color : black;
	cursor : hand;
	font-size: 9pt;
	font-family: simsun;
}

.labelCtrl_styleActive 
{
	background-image:url(../images/label_active.gif);
	color : #333333;
	cursor : hand;
	font-size: 9pt;
	font-family: simsun;
}

.labelCtrl_styleMarging 
{
	background-image:url(../images/label_marging.gif);
	color : white;
	cursor : hand;
	font-size: 9pt;
	font-family: simsun;
	text-indent: 0px;
}

.labelCtrl_styleBodyLeft
{
	border-left: 3px double #929DB4;
}

.labelCtrl_styleBodyRight
{
	border-right: 3px double #929DB4;
}

.labelCtrl_styleFootLeft
{
	border-left: 3px double #929DB4;
	border-bottom: 3px double #929DB4;
}

.labelCtrl_styleFootMiddle
{
	border-bottom: 3px double #929DB4;
}

.labelCtrl_styleFootRight
{
	border-right: 3px double #929DB4;
	border-bottom: 3px double #929DB4;
}