<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
         http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd">

<!-- 
	测试表状态的Map集合，
	id 定义格式：模块号前三个字母(demo 模块前三个子都 dem)加下划线(_)加本集合名称(cardTypeMap)
-->
	<!-- 证件类型 -->
	<util:map id="customer_cardTypeMap" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="java.lang.String">
		<entry key="01" value="身份证"></entry>
		<entry key="02" value="机构代码"></entry>
		<entry key="03" value="营业执照"></entry>
	</util:map>

	<!-- 客户类型 -->
	<util:map id="customer_typeMap" map-class="java.util.HashMap"
		key-type="java.lang.Integer" value-type="java.lang.String">
		<entry key="0" value="双边客户"></entry>
		<entry key="1" value="唯买客户"></entry>
		<entry key="2" value="唯卖客户"></entry>
	</util:map>

	<!-- 银行代码 -->
	<util:map id="customer_bankCodeMap" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="java.lang.String">
		<entry key="01" value="工商银行"></entry>
		<entry key="02" value="中国银行"></entry>
		<entry key="03" value="交通银行"></entry>
		<entry key="04" value="建设银行"></entry>
		<entry key="05" value="农业银行"></entry>
	</util:map>

	<!-- 客户状态 -->
	<util:map id="customer_statusMap" map-class="java.util.HashMap"
		key-type="java.lang.String" value-type="java.lang.String">
		<entry key="N" value="可用"></entry>
		<entry key="E" value="禁用"></entry>
	</util:map>
	
	<!-- 佣金类型 -->
	<util:map id="config_rewardTypeMap" map-class="java.util.HashMap"
		key-type="java.lang.Short" value-type="java.lang.String">
		<entry key="0" value="交易"></entry>
		<entry key="1" value="交收"></entry>
	</util:map>
	<!--会员类型 -->
	<util:map id="memberTypeMap" map-class="java.util.HashMap"
		key-type="java.lang.Long" value-type="java.lang.String">
		<entry key="0" value="经纪会员"></entry>
	    <!-- 
	    <entry key="1" value="承销会员"></entry>
		<entry key="2" value="发行会员"></entry>
		-->
	</util:map>
	<!--模块 -->
	<util:map id="moduleIdMap" map-class="java.util.HashMap"
		key-type="java.lang.Long" value-type="java.lang.String">
		<entry key="14" value="融资系统"></entry>
		<entry key="15" value="电子撮合交易系统"></entry>
		<entry key="16" value="连续现货交易系统"></entry>
		<entry key="17" value="专场交易系统"></entry>
		<entry key="18" value="投资类大宗商品交易系统"></entry>
		<entry key="20" value="做市商交易系统"></entry>
		<entry key="21" value="竞价系统"></entry>
		<entry key="23" value="E现货"></entry>
	</util:map>
	<!--类型 -->
	<util:map id="typeMap" map-class="java.util.HashMap"
		key-type="java.lang.Integer" value-type="java.lang.String">
		<entry key="1" value="法人"></entry>
		<entry key="2" value="代理"></entry>
		<entry key="3" value="个人"></entry>		
	</util:map>
</beans>